body {
    font-family: 'Roboto', sans-serif;

}

.mk-header.sticky-style-fixed .mk-header-bg {
    /*background: #60727d;*/
}

#menu-main li a {
    color: #f1592a;
    font-weight: 700;
}

.logo-align-center .header-style-4 .header-logo img {
    width: 210px;
    max-height: none;
}

.mk-vm-menuwrapper {
    margin-top: 40px;
}

.mk-ornamental-title-6 {
    display: inline-block;
    margin-right: 20px;
}

.buttons-holder {
    width: 100%;
    float: left;
    text-align: center;
}

.mk-ornamental-title.lemo-double.align-center, .mk-ornamental-title.lemo-single.align-center {
    display: inline-block;
}

.full-width-2 .page-section-content {
    padding: 0;
}

.apie-stovykla p {
    font-size: 18px;
}

.apie-stovykla {
    padding-top: 40px;
    padding-bottom: 50px;
}

.schedule-list {
    text-align: left;
}

.col-md-4 {
    width: 33%;
    float: left;
}

#padding-13 {
    height: 0;
}

#mk-ornamental-title-3 .title {
    font-size: 50px;
}

.full-width-2 {
    min-height: 350px;
}

.col-md-4 .material-icons {
    font-size: 40px;
    margin-bottom: 20px;
}

.cols-wrapper {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}

.new-style.pricing-table .pricing-cols .pricing-price {
    height: 95px;
}

.pricing-wrapper {
    padding-top: 50px;
}

.text-center {
    text-align: center;
}

.description-pricing {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.where-stay {
    font-weight: 700;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white !important;

}

.single-coach img {
    margin-bottom: 20px;
}

.acom.img-wrapper {
    position: relative;
}

.acom.img-wrapper img {
    height: 250px;
}

.accomodation-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
}

.overlay-acom {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    color: white;
    display: none;

}

.acom.img-wrapper:hover .overlay-acom {
    display: block;

}

.overlay-acom a {
    color: white;
    text-align: center;
    width: 200px;
    -webkit-box-sizing: border-box;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 40%;
    display: block;
    border: 1px solid white;
    padding: 10px 15px;
}

.new-style.pricing-table .pricing-cols .pricing-button {
    padding: 0 !important;
}

.new-style.pricing-table .pricing-cols .pricing-price sub {
    white-space: nowrap;
    width: 100%;
    float: left;
}

.new-style.pricing-table .pricing-cols .pricing-price.style-light {
    padding-bottom: 30px;
}

#box-12 .box-holder {
    padding: 40px 40px;
    min-height: 100px;
}

#mk-ornamental-title-38 {
    margin-top: 0px;
    margin-bottom: 20px;
    margin: 0 auto;
    float: none;
    display: block;
}

#mk-ornamental-title-30, #mk-ornamental-title-23 {
    display: block;
    margin: 0 auto;
}

.mk-ornamental-title-6 a {
    color: #fff588 !important;
}

.mk-ornamental-title-6 a:hover {
    color: white !important;
}

.new-style.pricing-table .pricing-cols .pricing-plan {
    padding-top: 20px;
    padding-bottom: 0px;
}

.new-style.pricing-table .pricing-cols .pricing-button a {
    padding-top: 10px;
}

.new-style.pricing-table .pricing-cols li.pricing-col.three-table{
    float: left;
}

.new-style.pricing-table .pricing-cols .pricing-button a > span {
    opacity: 0.7;
}

.new-style.pricing-table .pricing-cols .pricing-price span {
    font-size: 32px;
}
.pricing-cols .pricing-price sub {
    bottom: 0.75em;
    font-size: 16px !important;
}
.new-style.pricing-table .pricing-cols .pricing-price span sup {
    top: 8px;
}
.new-style.pricing-table .pricing-cols .pricing-price.style-light {
    padding-bottom: 25px;
}

.view-button {
    border: 1px solid black;
    background: white;
    color: black;
    margin-bottom: 20px !important;
    margin-top: -5px;
    border-radius: 5px;
    margin-bottom: 10px !important;
    padding: 15px !important;
    display: block;
    width: 60%;
    /*margin-left: auto !important;*/
    /*margin-right: auto !important;*/
}

.additional-info {
    font-size: 12px;
}

.mk-ornamental-title.lemo-double .title .title-text, .mk-ornamental-title.lemo-single .title .title-text {
    padding: 10px 30px;
}